31218_정윤호_0413_1

# 3. 리스트와 제어구조
### 1) for a in data 에서 data에 리스트를 넣을때
다음 spending의 모든 원소를 차례대로 출력하시오

spending = [25, 36, 8, 53, 24, 56]

In [32]:
spending = [25, 36, 8, 53, 24, 56]

In [11]:
# 반복문 for i in data

for i in spending :
    print('지출은', i)

지출은 25
지출은 36
지출은 8
지출은 53
지출은 24
지출은 56

In [19]:
# 50이상 쓴 금액을 출력하시오
for i in spending :
    if i >= 50 :
        print('지출은', i)

지출은 53
지출은 56

### 2) for a in data 에서 data에 range()를 넣을 때
출력형식
```
1월 지출은 25
```

In [31]:
spending = [25, 36, 8, 53, 24, 56, 80, 12]

# 인덱스를 활용하고 싶을때 range()
for i in range(len(spending)) :
    print(i+1,'월 지출은', spending[i])

1 월 지출은 25
2 월 지출은 36
3 월 지출은 8
4 월 지출은 53
5 월 지출은 24
6 월 지출은 56
7 월 지출은 80
8 월 지출은 12

In [33]:
abc = [[1,2,3], [4,5,6], [7,8,9]]
print(abc)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [36]:
print(abc[0])
print(abc[1])
print(abc[2])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [37]:
print(abc[0][0])

1

In [38]:
# 6 출력하기
print(abc[1][2])

6

In [39]:
# 8출력하기
print(abc[2][1])

8

In [40]:
# for문을 이요해서 전체 출력
for row in abc :
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [41]:
# 모든 줄의 첫번째 데이터만 출력
for row in abc :
    print(row)

In [42]:
# 모든 줄의 마지막 데이터(서번쨰 열)만 출력